*
{
    margin:0;
    padding:0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: radial-gradient(#f2761e,#ef4921); */
    background:radial-gradient(#d4f0ff,#f8f485);
}
.kurukuru{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    transform: translate(-240%,-25%);
}
.swirl-1 {
    width: 150px;
    height: 150px;
    position: relative;
    transform: scale(1);
    transform: rotate(0deg);
  }
.swirl-1 div {
    position: absolute;
    border: solid 8px #e064d6;
    border-radius: 150px 150px 0 0;
    border-bottom: 0;
    box-sizing: border-box;
}
.swirl-1 div:nth-of-type(odd) {
    transform: rotate(180deg);
    top: 75px;
  }
  
  .swirl-1 div:nth-of-type(1) {
    width: 80px;
    height: 40px;
    left: 120px;
    top: 130px;
  }
  
  .swirl-1 div:nth-of-type(2) {
    width: 120px;
    height: 70px;
    top: 60px;
    left: 80px;
  }
  
  .swirl-1 div:nth-of-type(3) {
    width: 160px;
    height: 80px;
    left: 80px;
    top:130px;
  }
  
  .swirl-1 div:nth-of-type(4) {
    width: 200px;
    height: 110px;
    top: 25px;
    left: 40px;
  }
  
  .swirl-1 div:nth-of-type(5) {
    width: 240px;
    height: 120px;
    left: 40px;
    top:130px
  }
  
  .swirl-1 div:nth-of-type(6) {
    width: 280px;
    height: 150px;
    top: -20px;
    left: 0px;
  }
  
.box,.box02
{
    display: flex;
}

.kubi-under{
    position:absolute;
    width: 140px;
    height: 300px;
    display: block;
    background: #f5a063;
    margin: 0 0 0 80px;
    border-radius: 60px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #ce712e,
        inset 0 0 25px #beb8b4;
    transform: translate(93%,3%) rotate(-90deg);
    z-index: -4;
}
.kara
{
    position:relative;
    width: 400px;
    height: 350px;
    display: block;
    background: #953b3b;
    margin: 0;
    border-radius: 2150px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #f4eb44,
        inset 0 0 25px #e2d331;
    transform: translate(0%,-35%);
    z-index: -3;
}
.kubi
{
    position:relative;
    width: 150px;
    height: 250px;
    display: block;
    background: #f5a063;
    margin: 0 0 0 80px;
    border-radius: 60px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #f2761e,
        inset 0 0 25px #f2761e;
    transform: translate(10%,-18%) rotate(-11deg);;
}
.box02 :first-child{
    transform: translate(17px,-7px) rotate(-11deg);
}
.box02 :last-child{
    transform: translate(-17px,-7px) rotate(11deg);
    
}
.box02 .tsuno
{
    position:relative;
    width: 20px;
    height: 100px;
    display: block;
    background: #fff;
    margin: 0 70px;
    border-radius: 60px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #f2761e,
        inset 0 0 25px #f2761e;
    
    z-index: -1;
}
.box .eye
{
    position:relative;
    width: 120px;
    height: 120px;
    display: block;
    background: #fff;
    margin: 0 20px;
    border-radius: 60px;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
        inset 0 0 15px #f2761e,
        inset 0 0 25px #f2761e;
}
.box .eye::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    border: 10px solid #a49af5;
    box-sizing: border-box;
}